### ДЗ 2 - Изучение характера поведения пользователей

Данные по продажам - часть таблицы Orders в csv: https://drive.google.com/drive/folders/1C3HqIJcABblKM2tz8vPGiXTFT7MisrML?usp=sharing .

Ссылка на статью по прогонозу с учетом сезонности и тренда: https://4analytics.ru/prognozirovanie/kak-rasschitat-prognoz-prodaj-s-uchetom-rosta-i-sezonnosti-v-excel.html .

Задача: 
прочитать статью и потом на основе данных к прошлому ДЗ сделать прогноз ТО на 2018 по этой методологии. 
Сравнить с фактом:   
ГГММ Сумма  
1801 256798898  
1802 232640416  
1803 267994924  
1804 262849522  
1805 276933049  
1806 251486085  
1807 250559778  
1808 261724749  
1809 276675505  
1810 287647539  
1811 363102609  
1812 422386052  

Как результат ТЗ - прислать скрин рассчета и сравнения.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [2]:
orders = pd.read_csv('orders_20190822.csv', sep=';')
a = orders.shape[0]
print(f'Первоначальное количество строк = {a}')

Первоначальное количество строк = 2002804

Конвертация данных

In [3]:
def convert_data(data):
    new_data = data.replace(',','.')
    return float(new_data)

In [4]:
orders['price'] = orders['price'].apply(convert_data)

In [5]:
orders['o_date'] = pd.to_datetime(pd.Series(orders['o_date']), format="%d.%m.%Y")

Убираем строки с неположительной и слишком большой ценой

In [6]:
negative_list = orders.loc[(orders['price'] <= 0)|(orders['price'] > 100000)]
orders = orders.drop(negative_list.index, axis = 0)

Сортировка данных по годам и суммирование дохода по месяцам

In [7]:
orders_2016 = orders.loc[orders['o_date'].dt.year == 2016, :]
orders_2017 = orders.loc[orders['o_date'].dt.year == 2017, :]

In [8]:
month_sum_orders_2016 = orders_2016.groupby(orders_2016['o_date'].dt.month, as_index=False)[['price']].sum().rename(columns={'price':'month_sum_2016'})
month_sum_orders_2016

    month_sum_2016
0     9.671165e+07
1     9.513467e+07
2     1.152706e+08
3     1.391769e+08
4     1.085874e+08
5     1.165690e+08
6     1.120983e+08
7     1.392560e+08
8     1.512398e+08
9     2.115090e+08
10    2.563359e+08
11    2.584437e+08

In [9]:
month_sum_orders_2017 = orders_2017.groupby(orders_2017['o_date'].dt.month, as_index=False)[['price']].sum().rename(columns={'price':'month_sum_2017'})
month_sum_orders_2017

    month_sum_2017
0     1.767653e+08
1     1.611962e+08
2     2.146468e+08
3     1.972572e+08
4     2.167369e+08
5     1.844345e+08
6     1.867044e+08
7     2.057518e+08
8     2.110780e+08
9     2.796451e+08
10    3.256335e+08
11    3.713073e+08

Выгрузка данных для прогнозирования в Excel

In [12]:
month_sum_orders_2016.to_excel('month_sum_orders_2016.xlsx')
month_sum_orders_2017.to_excel('month_sum_orders_2017.xlsx')